@{
    ViewBag.Title = "How To Play";
}

<div class="container margin-top-md text-black text-left">
    <div class="well">
        <div class="page-header">
            <h1>Video Tutorials</h1>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gjjVmPwThCE" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-NKATHMu_H8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    <div class="well">
        <div class="page-header">
            <h1>Rules of the Game</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="bs-callout bs-callout-info"><h4>Objective</h4>Each participant attempts to beat the dealer by getting a count as close to 21 as possible, without going over 21.</div>
            </div>
            <div class="col-sm-6">
                <div class="bs-callout bs-callout-info"><h4>The Deck</h4>The standard 52-card pack is used, but in most casinos several decks of cards are shuffled together.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-danger"><h4>The Deal</h4>When all the players have placed their bets, the dealer gives one card face up to each player in rotation clockwise, and then one card face up to themself. Another round of cards is then dealt face up to each player, but the dealer takes their second card face down. Thus, each player except the dealer receives two cards face up, and the dealer receives one card face up and one card face down. A player and the dealer can count an ace as 1 point or 11 points. If a player holds an ace valued as 11, the hand is called "soft", meaning that the player cannot go bust by taking an additional card; 11 plus the value of any other card will always be less than or equal to 21. Otherwise, the hand is "hard".</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="thumbnail col-sm-offset-3 col-sm-6" src="~/imgs/blackjackdemo.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-danger"><h4>The Play</h4>player to the left goes first and must decide whether to "stand" (not ask for another card) or "hit" (ask for another card in an attempt to get closer to a count of 21, or 21 exactly). Thus, a player may stand on the two cards originally dealt, or they may ask the dealer for additional cards, one at a time, until they either decides to stand on the total (if it is 21 or under), or goes "bust" (over 21). In the latter case, the player loses and the dealer collects the bet wagered.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-danger"><h4>Dealer's Play</h4>When the dealer has served every player, their face-down card is turned up. If the total is 17 or more, they must stand. If the total is 16 or under, they must take a card. They must continue to take cards until the total is 17 or more, at which point the dealer must stand. If the dealer has an ace, and counting it as 11 would bring the total to 17 or more (but not over 21), they must count the ace as 11 and stand. The dealer's decisions, then, are automatic on all plays, whereas the player always has the option of taking one or more cards.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-success">
                    <h4>The Outcome</h4>
                    <ul>
                        <li>Win - the player wins as much as he bet. If you bet $10, you win $10 from the dealer (plus you keep your original bet, of course.)</li>
                        <li>Blackjack - the player wins 1.5 times the bet. With a bet of $10, you keep your $10 and win a further $15 from the dealer.</li>
                        <li>Push - the hand is a draw. The player keeps his bet, neither winning nor losing money.</li>
                        <li>Lose - the player's bet is taken by the dealer.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

